{% extends "layout/base.html" %}
{% block content %}
<div class="container content">
	<div class="row">
		<div class="col-12">
			<h1>Casting</h1>
			<p> Whose that guy from that film? He was in that superhero film. A good actor or even a bad one can make a
				film or tv show and
				help it become one of the best pieces of entertainment you've seen or make it the worse things ever in
				your mind. For us,
				Bullerproof Monk is high on that list. But, a great cast carries the magic of what we see through the
				screen. </p>
		</div>
	</div>
</div>
{% endblock %}