

 .div-class{
     width: 900px;
     text-align:center;
     padding-left: 90px;
}
/* form input fields */
 input_class {
     padding: 80px;
}
 div {
     border-radius: 5px;
     padding: 1px;
}
 small{
     text-align: center;
}
/* form input fields */
 input_class {
     padding: 80px;
}
 div {
     border-radius: 5px;
     padding: 1px;
}
 footer {
     padding-top: 18px;
}
