{% extends "layout/base.html" %}
{% block content %}


<h5>If you want to let us know what you think of the site or how to become a moderator, please get in touch. </h5>

<form action="/form" method="POST">
<label>Name</label>
    <input type='text' name='email' placeholder='alice.smith@example.com' /><br/>
    <label>Email</label>
    <input type='text' name='message' placeholder='your message' /><br/>
    <button class="btn btn-outline-info" type='submit' name="action">Submit

</form>

<button class="btn btn-outline-info" type='submit' name="action">Submit



{% endblock %}