{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		<div class="row">
			<div class="form-group">
				<p>Film Name</p>
				<input id="film_name" name="file_name" type="text">

			</div>
			</div>
			<div class="row">
				<div class="form-group">
                <p>Your Review</p>
					<textarea name="review" id="review" cass="materialize-textarea"></textarea>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-outline-info" type="submit" name="action">Submit
             </button>
			</div>
	</form>
</div>


{% endblock %}