<!-- Create movie page -->

{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
<div class="container">
            <div class="row">
                <div class="col-sm-12">
            <h5>Your reviews can be found on the My Reviews page. Thank you.<br>You must add a film name for editing purposes. </h5>
            </div>
        </div>
       </div> 
	<form method="POST">
		<div class="row">
			<div class="form-group">
				<p>Film Name</p>
				<input id="film_name" name="file_name" type="text">

			</div>
			</div>
			<div class="row">
				<div class="form-group">
                <p>Your Review</p>
					<textarea name="review" id="review" cass="materialize-textarea"></textarea>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-outline-info" type="submit" name="action">Submit
             </button>
			</div>
	</form>
</div>


{% endblock %}