{% extends "layout/base.html" %}
{% block content %}

        {% for film in film %}
            {{film.task_name}}
            {{film.category_name}}
            {{film.task_description}}
            {{film.is_urgent}}
            {{film.due_date}}
        {% endfor %}

       <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Test1</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Test2</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Test3.</span></div>
        </li>
    </ul>

{% endblock %}