{% extends 'layout/base.html' %}
{% block content %}
<section class="about">
    <div class="container container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Delete Movie Review</h2>
            </div>
           </div> 
            <div class="row">
                <div class="col-sm-12">
                    {% if 'username' in session %}
                        <p class="page-desc"> In this section, you can delete a review but please be aware once done it's gone forever {{session ['username'] }}</p>

                    {% endif %}    

                    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.create_date}}</td>
        <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}