{% extends 'layout/base.html' %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="form-group">
				<div class="col-sm-12">
					<h2>Your review has been deleted</h2>
				</div>
			
			<div class="row">
				<div class="col-sm-12">
					{% if 'username' in session %}
					<p class="page-desc"> Hasta la vista, baby</p>

					<p>{{session ['username'] }}</p>

					{% endif %}

					{% for article in articles %}

					{% endfor %}
				</div>
			</div>
		</div>
		</div>
	</div>



{% endblock %}