{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
	<div class="row">
    <form action="" method="POST" class="col s12">
		<div class="input-field col s12">
			<h4>Add Movie Info</h4>
		</div>
		<div class="col-sm-12 text-center">
			<i class="material-icons prefix">assignment</i>
			<input id="film_name" name="file_name" type="text">
			<label for="">Film Name</label>
		</div>
        <div class="input-field col s12">
					<i class="material-icons prefix">subject</i>
					<textarea name="review" id="review" cass="materialize-textarea"></textarea>
					<label for="">Review</label>
				</div>

	</div>
    
  <div class="row">
    
    </div>
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
  </div>
  <div class="row">
    ...
  </div>
  </form>
</div>
{% endblock %}