{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		<div class="row">
			<div class="form-group">
            <h4>Edit Movie Review</h4>
				<input id="film_name" name="file_name" type="text">
				<label for="">Film Name</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<textarea name="review" id="review" cass="materialize-textarea"></textarea>
				<label for="">Review</label>
			</div>
		</div>
        <div class="row">
        	<button class="btn btn-outline-info" type="submit" name="action">Submit
             </button>
        </div>
	</form>
</div>


{% endblock %}