<!-- Edit movie review page-->
{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
 <div class="container">
            <div class="row">
                <div class="col-sm-12">
            <h5>This is a collaboration website updated by you, the users. If you edit a review, it changes it for everyone. Thank you.<br><br>You are building the site. </h5>
            </div>
        </div>
       </div> 
	<form method="POST" action="">
		<div class="row">
			<div class="form-group">
            <p>Film Name</p>
     
				<input id="film_name" name="file_name" type="text">
				
			</div>
		</div>
		<div class="row">
			<div class="form-group">
            <p>Film Review</p>
				<textarea name="review" id="review" cass="materialize-textarea"></textarea>
			</div>
		</div>
        <div class="row">
        	<button class="btn btn-outline-info" type="submit" name="action">Update
             </button>
        </div>
	</form>
</div>


{% endblock %}