{% extends "layout/base.html" %}
{% block content %}

<head>
    
    <title> </title>
    
</head>
<div class="container content">
		<div class="row">
			<div class="jumbotron">
				<h3 class="text-center">Search For Any Movie</h3>
				<form id="searchForm">
					<div class="col-12">
						<input onkeyup="getanswer(document.getElementById('qurybox').value)" id="qurybox">
						<div id="answer"></div>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
					</div>
			</div>
		</div>
	</div>

</body>


    <script src="js/movie.js"></script>

{% endblock %}
