<!-- Jumbotron added, thanks to cukmekerb coding class -->

{% extends "layout/base.html" %}
{% block content %}

<div class="container">
	<div class="row">
    <form action="" method="POST" class="col s12">
        <legend class="border-bottom mb-4">Search Here for a movie and the cool thing is, no need to press Enter. It'll display automatically!!</legend>
			<div class="col-12">
				<input onkeyup="getanswer(document.getElementById('qurybox').value)" id="qurybox">
				<div id="answer"></div>
				<script>
					var data;
function getanswer(q){
$.get("https://www.omdbapi.com/?s="+q+"&apikey=be4b405e", function(rawdata){    
 let rawstring =JSON.stringify(rawdata);
 data =JSON.parse(rawstring);
 let title = data.Search[0].Title;
 let year = data.Search[0].Year; 
 let imdburl="https://www.imdb.com/title/"+data.Search[0].imdbID+"/";

 let posterurl =data.Search[0].Poster;
document.getElementById('answer').innerHTML="<h1>"+title+"</h1><br> <img src= '"+posterurl+"'><br><p> Year Released:"+year+"</p> <br> <p> IMDB page: <a href='"+imdburl+"'target='_blank'>"+imdburl+"</a></p>"; }); }
				</script>
                </form>
			</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}