{% extends "layout/base.html" %}
{% block content %}


<h5> At FilmDB (DataBase) WE LOVE MOVIES and we want the same for you.

	FilmDB is a movie and database built by you, the user. The site has been designed as an open source
	website
	where you add the info about your favourite movies to help build FilmDB. You add the reviews, you add
	the films
	you love and so you help build the passion of the website.

	We hope your contributions will help others to learn about movies and find something new. We welcome all
	and
	encourage everyone to use the platform of this site to help build the world of movies.

	As an independent site, reviewers contributions are golden and we would love everyone that comes here to
	add
	something. Genuine reviews are what we’re after. If you have passion for a film, say so, if you hate it
	with a
	passion, say so.

	We want our community to be the best and to help us become the best. Now, this is open source but we
	also want
	it to be a sensible open source site and so we do have moderators. I know rules right, no one likes them
	but we
	do have to have them. We don’t want some young child coming to read about Toy Story and finding loads of
	horrible swearing about bad animation but hey!! It’s a beautiful film so don’t diss Toy Story.
</h5>
            </div>
        </div>
    </div>

    
{% endblock %}