{% extends "layout/base.html" %}
{% extends "bootstrap/base.html"}
{% block search %}

<!-- Log in section-->

<section>
	<div class="container">
		<form class="form-signing">
			<h2 class="form-siging-heading">Please sign in</h2>
			<label for="InputUsername" class="sr-only">Username</label>
			<input type="text" id="InputUsername" class="form-control" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
        <input type="checkbox" value="remember-me"> Remember me	
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
</section>

{% endblock }