{% extends "layout/base.html" %}
{% block search %}

<!-- Log in section-->
  
<section>
<div class="container-fluid">
 <div class="row">
 <div class="col-sm-12"><h3>Log in to share your passion for Movies and TV</h3></div>
 </div>
 <div class="row justify-content-center">
  <form id="login-form">
   <div class="form-group">
   <label for="loginInput">Username</label>
   <input type="text" class="form control" id="loginUsername" placeholder="Username" required>
   <label for="loginInput">Password</label>
   <input type="text" class="form control" id="loginPassword" placeholder="Password" required>
   </div>     
   <button type="submit" class="btn btn-search">Log In</button>
   </form>
   <div class="col-sm-12">
 
 </div>
 </div>
 <div class="row">
 <div class="col-sm-12">
 <a href="{{ url_for('signup') }}">Not Registered? Click Here.</a>
 </div>
 </div>
</div>
</section>

{% endblock }