{% extends 'layout/base.html' %}
{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <h2>Movie Review Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <p class="page-desc">This pages has been designed allowing you to Edit or Delete your reviews if you wise too. If not, that's
                                         that's cool, we just want you to be able to view what you've added</p>
                </div>
            </div>
        </div>
    </section>

    <section class="lower-section">
        <div class="containter">
            <div class="row movie-view-row">
                {% if 'username' in session and moviereview.username == session['username'] %}
                    <a href="{{ url_for('deletemovie', movie_id=movie._id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('editmovie', movie_id=movie_id) }}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
        
        </div>
    
    </section>
 

{% endblock %}