{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		<div class="form-group">
			<div class="row">
				{{ review.file_name }}
				{{ review.review }}
			</div>

		</div>
		<div class="form-group">
			<a href="{{ url_for('editmovie', movieid=review._id )}}" class="btn btn-outline-primary">Edit</a>
			<a href="{{ url_for('deletemovie', movieid=review._id )}}" class="btn btn-outline-danger">Delete</a>
		</div>

<button class="btn btn-outline-info" type="submit" name="action">Update
             </button>


</form>
</div>



{% endblock %}