{% extends 'layout/base.html' %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		<div class="form-group">
			<div class="row">
                <div class="form">
				{{ review.file_name }}
                </div>
                <div class="form">
				{{ review.review }}
                </div>
			</div>

		</div>
		<div class="form-group">
			<a href="{{ url_for('editmovie', movieid=review._id )}}" button class="btn btn-outline-primary">Edit</a>
			<a href="{{ url_for('deletemovie', movieid=review._id )}}" button class="btn btn-outline-danger">Delete</a>
		</div>


</form>
</div>



{% endblock %}