{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid">

<div class="row">
<div class="col-sm-12">
<h2>Sign Up</h2>
<form action="" method="post">
	<P>
		{{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
	<p>
		{{form.password.label}} <br>
        {{form.password(size=30)}}
    </P>
       
	<p>
    	{{form.submit()}}
	</p>
</form>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<p>Welcome to Sign in</p>
</div>
</div>
<div class="row">

<div class="col-sm-12">
</div>
</div>
{% endblock %}