/* Main Background image and styling */

@import url('https://fonts.googleapis.com/css?family=Molengo|Muli|Oswald&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Montserrat+Subrayada&display=swap');


body {
 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../img/peaky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFF;
}

/*
font-family: 'Molengo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
*/

/*
 * Formatting the header area
 */


/* background, gradient and border settings */

header {
  background-image: linear-gradient(to bottom right, red, black);
  height: 120px;
  width: 100%;
  opacity: .8;
  margin-bottom: 30px;
}
/* Film DB header and font */

header h1.logo {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: 2;
  font-size: 7em;
  padding-left: 50px;
  padding-right: 700px;
  padding-bottom: 15px;
  color: #fff;
  text-transform: inherit;
  float: left;
}

/*
 * Centering the body content
 */

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
title {
  font-family: 'Montserrat Subrayada', sans-serif; 
  font-size: 9em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

/* Welcome to FilmDB and FilmDB and main header */

/* Main Header */
.menu {
  font-family: 'Lato', sans-serif;  
  float: right;
  font-size: 30px;
  margin-top: 9px;
  padding-right: 10px;
}

/* Menu font colours */
.menu li a {
display: right;
  color: #FFF;
  text-decoration: none;
}

/* Jumbotron Styling */

.jumbotron{
    position: left;
    padding: 0px !important;
    margin-top:70px !important;
    width: 1000px;
    background: linear-gradient(to bottom right, red, black);
    margin-top: 23px;
    margin-bottom: 50px;
    text-align:center;
}
