/* Main Background image and styling */

@import url('https://fonts.googleapis.com/css?family=Molengo|Muli|Oswald&display=swap');


body {
 margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../img/newali.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFF;
}

/*
font-family: 'Molengo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Muli', sans-serif;
*/

/*
 * Formatting the header area
 */


/* background, gradient and border settings */

header {
  background-image: linear-gradient(to bottom right, red, black);
  height: 120px;
  width: 100%;
  opacity: .8;
  margin-bottom: 30px;
}
/* Film DB header and font */

header h1.logo {
  font-family: 'Molengo', sans-serif;
  margin: 2;
  font-size: 6em;
  padding-left: 90px;
  padding-right: 700px;
  padding-bottom: 15px;
  color: #fff;
  text-transform: inherit;
  float: left;
}

/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
title {
  font-family: 'Molengo', sans-serif;  
  font-size: 7em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

/* Welcome to FilmDB and FilmDB and main header */




/* Main Header */
.menu {
  float: right;
  margin-top: 25px;
  padding-right: 30px;
}
.menu li {
  display: right;
}

/* Menu font colours */
.menu li a {
  color: #FFF;
  text-decoration: none;
}


