<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FilmdDB</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Welcome To FilmDB </h1>
    <p> FilmDB or Film Database is a website dedicated to movie and also tv fans. It's for the fans to share their love for the big 
        and small screen. The idea behind the site is for passionate fans to share that passion with others to create a community
        of love for all things on screen.  </p>

    {% endblock %}    
  </body>
</html>