<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FilmdDB</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Welcome To FilmDB </h1>
    <p> Films have been shown on the silver screen for over 100 years now. We want our users to use this site 
        to discover all filmns and share their passion for those most loved to them. Movies have evolved in so many
        ways, not always for the better and this is why we're here. Whether it's good or bad, we want to know what
        you know and like or... dare we say it, dislike!! </p>

    {% endblock %}    
  </body>
</html>