{% extends "template.html" %}
{% block content %}
<div class="container content">
	<div class="row">
		<div class="col-12">
			<h1> TV</h1>
			<p> The small screen has slowly become just as important as cinema these days. Indepedent studios and TV
				streaming
				companies create outstanding TV content to showcase just what Televison can truly offer. And we believe
				it
				should have as much credit as cinema in this day and age</p>

			<div class="container">
				<div class="jumbotron">
					<h3 class="text-center">Search For Any TV Show</h3>
					<form id="searchForm">
						<input type="text" class="form-control" id="searchText" placeholder="Search TV...">
	    	</form>
				</div>
			</div>
            <div class="container">
				<div id="tv" class="row"></div>

			</div>

		</div>
	</div>
</div>


{% endblock %}