<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Television</title>
  </head>
  <body>
  {% extends "template.html" %}
  {% block content %}
    <h1> TV</h1>
    <p> Welcome to the TV page.</p>
    <p> The small screen has slowly become just as important as cinema these days. Indepedent studios and TV streaming
        companies create outstanding TV content to showcase just what Televison can truly offer. And we believe it 
        should have as much credit as cinema in this day and age</p>

  {% endblock %}      
  </body>
</html>