<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



	<header>
		<h1 class="logo">FilmDB</h1>
	</header>
</head>

<body>
	<div class="container">
		<strong><nav>
			<div class="col">
				<div class="col">
					{% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                         {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                            {{ message }}
                            </div>
                         {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% if 'username' not in session %}
					<ul class="navbar-nav ml-auto uppercase">
						<li class="nav-item">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('register') }}">Register</a></li>
						<li><a href="{{ url_for('login') }}">Login</a></li>
						<li><a href="{{ url_for('films') }}">Search</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        
					</ul>
                {% else %}
					<ul class="navbar-nav ml-auto uppercase">
						<li class="nav-item">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('createmovie') }}">create movie
								<a></li>
                                 <li><a href="{{ url_for('mymovie') }}">My Reviews</a></li>
                        <li><a href="{{ url_for('films') }}">Search</a></li>   
                        <li><a href="{{ url_for('logout') }}">logout</a></li>
                          
                        
					</ul>
                    </nav></strong>
		{% endif %}
	</div>
	</div>
	</div>
	{% block content %}
	{% endblock %}
    


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
		</body>

</html>