<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>FilmDB</title>
	
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>
	<header>
		<h1 class="logo">FilmDB</h1>
	</header>
    
		<strong>
		        <nav class="navbar navbar default">
		        <ul class="menu">
		                                    <li><a href="{{ url_for('index') }}">Home</a></li>
		                                    <li><a href="{{ url_for('register') }}">Sign up</a></li>
		                                    <li><a href="{{ url_for('login') }}">Login</a></li>
		                                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
		                                    <li><a href="{{ url_for('films') }}">Films</a></li>
		                                    <li><a href="{{ url_for('tv') }}">TV</a></li>
		                                    <li><a href="{{ url_for('casting') }}">Casting</a></li>  
		                                </ul>
                 
         
        </nav></strong>


    {% block content %}
    {% endblock %}

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
 

</html>
</body>
