{% block footer %}
 <footer class="container-fluid">
        <div class="row">
            <!-- List item with Creation note -->
            <div class="col-sm-12 col-md-4 created-by">
                <p>Developer: Matthew Lister</p>
            </div>
    
            <div class="col-sm-12 col-md-4 text-center educational-only">
                <p>Designed For Educational Purposes Only</p>
            </div>
            <!-- Social Media -->
            <div class="col-sm-12 col-md-4 socials">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="mailto:mdlister24@hotmail.com" rel="noopener">
                            <i class="fas fa-at" aria-hidden="true"></i>
                            <span class="sr-only">Email</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="" rel="noopener">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/in/matthew-lister-1774b8171/" rel="noopener">

                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://github.com/Mattlister"
                        rel="noopener">
                            <i class="fab fa-github" aria-hidden="true"></i>
                            <span class="sr-only">Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>


{% endblock %}